global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'insight-backend'
    metrics_path: '/api/metrics'
    static_configs:
      - targets: ['{HOST}:{API_PORT}']
    bearer_token: '{ADMIN_AUTH_TOKEN}'